*{
    background-color:rgb(121,151,249);
}

h1,h2,h3,h4{
    color:white;
}

label{
    color:white;
    padding-bottom:2px;
}

button{
    background-color:white;
    border-radius:10px;
}

html{
    background-color:rgb(121,151,249);
}
#titulo{
    background-color:rgb(121,151,249);
    padding-top:10px;
}
#formulario{
    background-color:rgb(121,151,249);
}

#formularioHome{
    padding-top:1%;
    padding-bottom:19%;
    background-color:rgb(121,151,249);
}